<a href="https://colab.research.google.com/github/TNH510/Artificial-Intelligence/blob/main/Homework_week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Homework week2: Xử lí dữ liệu thu thập từ 1 trang web

In [65]:
import pandas as pd
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)

In [66]:
dataframe.head(0)
#Kiểm tra các trường thuộc tính có trong data

Empty DataFrame
Columns: [Year, City, Sport, Discipline, NOC, Event, Event gender, Medal]
Index: []

In [116]:
dataframe['Sport'].value_counts().count()
#Hiển thị tổng số môn trong Olympic

7

In [92]:
dataframe['NOC'].unique()
#Hiển thị danh sách các quốc gia từng góp mặt trong các kì Olympic

array(['AUT', 'BEL', 'CAN', 'FIN', 'FRA', 'GBR', 'NOR', 'SUI', 'SWE',
       'USA', 'GER', 'TCH', 'HUN', 'ITA', 'FRG', 'NED', 'EUA', 'JPN',
       'POL', 'URS', 'PRK', 'GDR', 'ROU', 'ESP', 'LIE', 'BUL', 'YUG',
       'CHN', 'EUN', 'KOR', 'LUX', 'NZL', 'AUS', 'BLR', 'KAZ', 'RUS',
       'SLO', 'UKR', 'UZB', 'CZE', 'DEN', 'CRO', 'EST', 'LAT', 'SVK'],
      dtype=object)

In [135]:
dataframe.groupby(['Sport','Discipline']).count()
#Hiển thị danh sách các thể loại thi đấu của mỗi loại môn thi trong Olympics

                            Year  City  NOC  Event  Event gender  Medal
Sport      Discipline
Biathlon   Biathlon          162   162  162    162           162    162
Bobsleigh  Bobsleigh         115   115  115    115           115    115
           Skeleton           18    18   18     18            18     18
Curling    Curling            21    21   21     21            21     21
Ice Hockey Ice Hockey         69    69   69     69            69     69
Luge       Luge              108   108  108    108           108    108
Skating    Figure skating    207   207  207    207           207    207
           Short Track S.     96    96   96     96            96     96
           Speed skating     455   455  455    455           455    455
Skiing     Alpine Skiing     367   367  367    367           367    367
           Cross Country S   399   399  399    399           399    399
           Freestyle Ski.     54    54   54     54            54     54
           Nordic Combined    84    84   84     84            84     84
           Ski Jumping       114   114  114    114           114    114
           Snowboard          42    42   42     42            42     42

In [226]:
counts = dataframe[(dataframe['NOC'] == 'FRA')&(dataframe['Event gender'] == 'W')&(dataframe['Medal'] == 'Gold')&(dataframe['Year'] >= 1940)&(dataframe['Year'] <= 2000)].value_counts()
print(counts)
#Liệt kê các lần Pháp có nữ vận động viên đạt huy chương vàng từ năm 1980 đến năm 2000

Year  City         Sport     Discipline     NOC  Event          Event gender  Medal
1964  Innsbruck    Skiing    Alpine Skiing  FRA  giant slalom   W             Gold     1
                                                 slalom         W             Gold     1
1968  Grenoble     Skiing    Alpine Skiing  FRA  slalom         W             Gold     1
1992  Albertville  Biathlon  Biathlon       FRA  3x7.5km relay  W             Gold     1
1998  Nagano       Skiing    Snowboard      FRA  giant-slalom   W             Gold     1
dtype: int64

In [223]:
#Hiển thị năm đầu tiên, năm gần đây nhất và tổng số kì Olympic đã diễn ra
Year_min = dataframe['Year'].min()
Year_max = dataframe['Year'].max()
print('Năm đầu tiên kì olympics được tổ chức là',Year_min)
print('Năm cuối cùng kì olympics được ghi lại trong data là',Year_max)
So_ki_Olympic_da_to_chuc = dataframe['Year'].value_counts().count()
print('Số kì olympic đã tổ chức từ', Year_min, 'đến', Year_max, 'là' , So_ki_Olympic_da_to_chuc)

Năm đầu tiên kì olympics được tổ chức là 1924
Năm cuối cùng kì olympics được ghi lại trong data là 2006
Số kì olympic đã tổ chức từ 1924 đến 2006 là 20

In [227]:
#Hiển thị tổng số huy chương vàng, bạc và đồng của Mĩ đạt được từ đến lúc bắt đầu đến trước năm 2002 
gold_medal_USA = dataframe[(dataframe['NOC'] == 'USA')&(dataframe['Medal'] == 'Gold')&(dataframe['Year'] < 2002)]['Medal'].count()
silver_medal_USA = dataframe[(dataframe['NOC'] == 'USA')&(dataframe['Medal'] == 'Silver')&(dataframe['Year'] < 2002)]['Medal'].count()
bronze_medal_USA = dataframe[(dataframe['NOC'] == 'USA')&(dataframe['Medal'] == 'Bronze')&(dataframe['Year'] < 2002)]['Medal'].count()
print('Từ lúc Olympic bắt đầu đến trước năm 2002, Mĩ đã đạt được:\n', gold_medal_USA, 'huy chương vàng\n', silver_medal_USA, 'huy chương bạc\n', bronze_medal_USA, 'huy chương đồng\n')

Từ lúc Olympic bắt đầu đến trước năm 2002, Mĩ đã đạt được:
 59 huy chương vàng
 58 huy chương bạc
 40 huy chương đồng

In [228]:
#Hiển thị top 3 quốc gia có số lượng vận động viên nam đạt huy chương vàng nhiều nhất đến trước năm 2002
dataframe[(dataframe['Medal'] == 'Gold')&(dataframe['Event gender'] == 'M')&(dataframe['Year'] < 2002)]['NOC'].value_counts().head(3)

NOR    76
URS    41
USA    33
Name: NOC, dtype: int64