<a href="https://colab.research.google.com/github/TNH510/Artificial-Intelligence/blob/main/Crab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
from sklearn.linear_model import Perceptron
#Chua data, co thu vien chuan hoa lan, chu, so viet tay, cac vat dung trong nha
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
#Scale data de cho deu nhau (Ex:0, 1000 000 --> 0,1)
from sklearn.preprocessing import StandardScaler

In [65]:
import pandas as pd
url = 'crabs.csv'
data = pd.read_csv(url)

data.replace(['F','M','B','O'],[0,1,1,0])
#M -> 1, FM -> 0

     speies  sex  index  fontallip  rearwidth  length  width  depth
0         1    1      1        8.1        6.7    16.1   19.0    7.0
1         1    1      2        8.8        7.7    18.1   20.8    7.4
2         1    1      3        9.2        7.8    19.0   22.4    7.7
3         1    1      4        9.6        7.9    20.1   23.1    8.2
4         1    1      5        9.8        8.0    20.3   23.0    8.2
..      ...  ...    ...        ...        ...     ...    ...    ...
195       0    0     46       21.4       18.0    41.2   46.2   18.7
196       0    0     47       21.7       17.1    41.7   47.2   19.6
197       0    0     48       21.9       17.2    42.6   47.4   19.5
198       0    0     49       22.5       17.2    43.0   48.7   19.8
199       0    0     50       23.1       20.2    46.2   52.5   21.1

[200 rows x 8 columns]

In [70]:
x = data.drop(['sex'], axis = 1).replace(['F','M','B','O'],[0,1,1,0])
print(x[:5])

   speies  index  fontallip  rearwidth  length  width  depth
0       1      1        8.1        6.7    16.1   19.0    7.0
1       1      2        8.8        7.7    18.1   20.8    7.4
2       1      3        9.2        7.8    19.0   22.4    7.7
3       1      4        9.6        7.9    20.1   23.1    8.2
4       1      5        9.8        8.0    20.3   23.0    8.2

In [74]:
y = data.drop(['speies', 'index', 'fontallip', 'rearwidth', 'length', 'width','depth'], axis = 1).replace(['F','M','B','O'],[0,1,1,0])
print(y[:5])

   sex
0    1
1    1
2    1
3    1
4    1

In [75]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)
sc = StandardScaler()
sc.fit(x_train)
x_train_std = sc.transform(x_train)
x_test_std = sc.transform(x_test)
print(x_train_std[:5])
print(y.T)

[[ 1.05887304  1.64617705  0.51996655  1.46331132  0.90488851  1.01304501
   0.86386387]
 [ 1.05887304  1.22664163  0.66714673  0.31711446  0.99202669  1.00003223
   0.62155795]
 [ 1.05887304  1.22664163 -0.0098821   0.39352759  0.17873701  0.23227814
  -0.01449509]
 [ 1.05887304 -1.43041598 -1.74660822 -1.86065957 -1.752826   -1.78470294
  -1.80150124]
 [ 1.05887304  1.57625448  1.19699538  0.50814727  1.5729479   1.68970964
   1.34847571]]
     0    1    2    3    4    5    6    7    8    9    ...  190  191  192  \
sex    1    1    1    1    1    1    1    1    1    1  ...    0    0    0

     193  194  195  196  197  198  199
sex    0    0    0    0    0    0    0

[1 rows x 200 columns]

In [69]:
model = Perceptron(max_iter = 200, eta0= 0.13 , random_state = 0) #so lan train, toc do hoc
model.fit(x_train_std, y_train)
y_pred = model.predict(x_test_std)
print(y_pred[:10])
print(y_test[:10].T)
print("Do chinh xac:", accuracy_score(y_test, y_pred))

[0 1 0 1 1 1 0 0 1 1]
     67   144  53   49   128  45   63   13   25   20
sex    0    1    0    1    1    1    0    1    1    1
Do chinh xac: 0.8166666666666667

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)